.header{
    background-color: #2388FF;
    height: 22.5rem;
}
.header .container{
    transform: translateY(7rem);
}
.header .container:nth-child(2){
    transform: translateY(10rem);
}
.card{
    text-align: center;
}
.card img{
    text-align: center;
    width: 25%;
}
.soal{
    height: max-content;
}

.content {
    display: none;
}

#pagination {
    justify-content: space-between;
    margin-top: 20px;
}
#pagination a{
    width: 100px;
    background-color: #2388FF;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

#percentage-label {
    text-align: center;
    margin-top: 10px;
}
.page-link{
    align-items: center;
}


@media only screen and (max-width: 768px) {
    .header .container{
        transform: translateY(2rem);
    }
    .header .container:nth-child(2){
        transform: translateY(5rem);
    }
    .form-select{
        font-size: .7rem!important;
    }
}